# Bike Share Data Journals

[Cycle Share](https://www.kaggle.com/pronto/cycle-share-dataset)

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv

In [2]:
trip_df = pd.read_csv('./trip.csv', error_bad_lines=False, )

b'Skipping line 50794: expected 12 fields, saw 20\n'

Note: Checking to see the tables rows and columns

In [3]:
trip_df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [4]:
df_weather = pd.read_csv('./cycle-share-dataset/weather.csv', error_bad_lines=False)

In [5]:
df_weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [6]:
station_df = pd.read_csv('./cycle-share-dataset/station.csv', error_bad_lines=False)
station_df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [7]:
df_weather['Date'] = pd.to_datetime(df_weather['Date'])
df_weather['Month'] = df_weather['Date'].dt.month
df_weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10

In [8]:
avg_precip = pd.DataFrame(df_weather[['Month','Precipitation_In']]).groupby(df_weather.Month).mean()
avg_precip

       Month  Precipitation_In
Month
1          1          0.143548
2          2          0.168421
3          3          0.156935
4          4          0.051333
5          5          0.012419
6          6          0.030500
7          7          0.012097
8          8          0.018226
9          9          0.041000
10        10          0.189000
11        11          0.187833
12        12          0.236290

What is the average trip duration for a borrowed bicycle?

In [9]:
trip_mins = trip_df['tripduration'].mean() //60
print(f'Average trip duration was {trip_mins} minutes')

Average trip duration was 19.0 minutes

What’s the most common age of a bicycle-sharer?

In [17]:
trip_df['age'] = dt.now().year - trip_df['birthyear']
pd.DataFrame(trip_df['age'].mode(), columns=['Most Common Age'])

AttributeError: module 'datetime' has no attribute 'Now'

What’s the average number of bikes at a given bike station?

In [ ]:
station = trip_df.groupby('from_station_name').mean()
bikeid = (trip_df['bikeid']).value_counts().mean()
list([station, bikeid])

When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

Note: not null part is very useful to see how many nulls are there in data, so we use info to check

In [ ]:
station_df['modification_date'] = station_df['modification_date'].notnull()
station_df.modification_date

In [ ]:
modified = station_df[['station_id', 'modification_date', 'install_dockcount', 'current_dockcount']]
filtered = modified.query('modification_date')
filtered[filtered['current_dockcount']>0]