# Bike Share Data Journals

 -[Cycle Share Link](https://www.kaggle.com/pronto/cycle-share-dataset)

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import csv

### Read trip.csv file

In [2]:
trip_df = pd.read_csv('./trip.csv', error_bad_lines=False)
trip_df.head(200)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
5,436,10/13/2014 10:34,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974.0
6,437,10/13/2014 11:35,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35,10/13/2014 11:45,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
9,440,10/13/2014 11:35,10/13/2014 11:45,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0
10,441,10/13/2014 11:36,10/13/2014 11:45,SEA00195,564.899,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1983.0
11,442,10/13/2014 11:37,10/13/2014 11:47,SEA00101,620.141,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1982.0
12,443,10/13/2014 11:37,10/13/2014 11:47,SEA00461,634.087,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1984.0
13,444,10/13/2014 11:37,10/13/2014 11:47,SEA00044,614.336,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1955.0
14,445,10/13/2014 11:37,10/13/2014 11:47,SEA00298,601.463,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1953.0
15,446,10/13/2014 11:37,10/13/2014 11:47,SEA00106,618.781,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1958.0
16,447,10/13/2014 11:37,10/13/2014 11:47,SEA00108,617.085,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1959.0
17,448,10/13/2014 11:37,10/13/2014 11:47,SEA00236,600.050,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1950.0
18,450,10/13/2014 11:40,10/13/2014 11:49,SEA00107,499.734,Occidental Park / Occidental Ave S & S Washing...,City Hall / 4th Ave & James St,PS-04,CBD-07,Member,Female,1976.0
19,452,10/13/2014 11:41,10/13/2014 11:51,SEA00259,575.307,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1986.0
20,453,10/13/2014 11:41,10/13/2014 11:51,SEA00178,571.807,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1953.0
21,454,10/13/2014 11:41,10/13/2014 11:51,SEA00123,563.763,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1986.0
22,455,10/13/2014 11:42,10/13/2014 11:49,SEA00373,437.689,Occidental Park / Occidental Ave S & S Washing...,City Hall / 4th Ave & James St,PS-04,CBD-07,Member,Male,1967.0
23,456,10/13/2014 11:43,10/13/2014 11:51,SEA00121,483.154,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1986.0
24,457,10/13/2014 11:43,10/13/2014 11:51,SEA00029,479.382,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1987.0
25,458,10/13/2014 11:43,10/13/2014 11:52,SEA00436,533.532,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1987.0
26,459,10/13/2014 11:43,10/13/2014 11:51,SEA00118,481.629,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1974.0
27,460,10/13/2014 11:43,10/13/2014 11:51,SEA00177,460.772,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1967.0
28,461,10/13/2014 11:43,10/13/2014 11:51,SEA00348,459.165,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1983.0
29,462,10/13/2014 11:44,10/13/2014 11:55,SEA00459,680.457,Occidental Park / Occidental Ave S & S Washing...,2nd Ave & Spring St,PS-04,CBD-06,Member,Male,1970.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,625,10/13/2014 14:24,10/13/2014 14:48,SEA00430,1480.695,6th Ave S & S King St,Seattle Aquarium / Alaskan Way S & Elliott Bay...,ID-04,WF-04,Short-Term Pass Holder,NaN,NaN
171,626,10/13/2014 14:24,10/13/2014 14:51,SEA00348,1620.594,Occidental Park / Occidental Ave S & S Washing...,Occidental Park / Occidental Ave S & S Washing...,PS-04,PS-04,Short-Term Pass Holder,NaN,NaN
172,627,10/13/2014 14:24,10/13/2014 14:37,SEA00415,736.233,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1983.0
173,628,10/13/2014 14:25,10/13/2014 14:33,SEA00308,523.783,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1967.0
174,629,10/13/2014 14:25,10/13/2014 14:34,SEA00177,514.921,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Male,1974.0
175,630,10/13/2014 14:25,10/13/2014 14:31,SEA00436,363.981,Occidental Park / Occidental Ave S & S Washing...,1st Ave & Marion St,PS-04,CBD-05,Member,Female,1987.0
176,631,10/13/2014 14:26,10/13/2014 14:30,SEA00335,245.043,E Harrison St & Broadway Ave E,12th Ave & E Mercer St,CH-02,CH-15,Member,Male,1975.0
177,632,10/13/2014 14:28,10/13/2014 14:49,SEA00141,1279.565,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,NE 47th St & 12th Ave NE,UD-01,UD-07,Member,Male,1974.0
178,633,10/13/2014 14:32,10/13/2014 14:40,SEA00461,466.267,Westlake Ave & 6th Ave,Occidental Park / Occidental Ave S & S Washing...,SLU-15,PS-04,Member,Male,1980.0
179,634,10/13/2014 14:32,10/13/2014 14:56,SEA00386,1424.439,E Harrison St & Broadway Ave E,NE 42nd St & University Way NE,CH-02,UD-02,Short-Term Pass Holder,NaN,NaN
180,635,10/13/2014 14:32,10/13/2014 14:56,SEA00494,1424.110,E Harrison St & Broadway Ave E,NE 42nd St & University Way NE,CH-02,UD-02,Short-Term Pass Holder,NaN,NaN
181,636,10/13/2014 14:33,10/13/2014 14:39,SEA00411,390.948,Dexter Ave N & Aloha St,Republican St & Westlake Ave N,SLU-02,SLU-04,Member,Male,1981.0
182,637,10/13/2014 14:33,10/13/2014 14:49,SEA00053,960.969,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,NE 47th St & 12th Ave NE,UD-01,UD-07,Member,Male,1979.0
183,639,10/13/2014 14:47,10/13/2014 14:56,SEA00407,516.741,NE 42nd St & University Way NE,UW Magnuson Health Sciences Center Rotunda / C...,UD-02,UW-10,Short-Term Pass Holder,NaN,NaN
184,640,10/13/2014 14:49,10/13/2014 14:55,SEA00350,351.618,12th Ave & NE Campus Pkwy,Eastlake Ave E & E Allison St,UD-04,EL-05,Member,Female,1946.0
185,641,10/13/2014 14:49,10/13/2014 14:56,SEA00263,431.245,2nd Ave & Spring St,King Street Station Plaza / 2nd Ave Extension ...,CBD-06,PS-05,Short-Term Pass Holder,NaN,NaN
186,642,10/13/2014 14:49,10/13/2014 14:56,SEA00043,434.322,2nd Ave & Spring St,King Street Station Plaza / 2nd Ave Extension ...,CBD-06,PS-05,Short-Term Pass Holder,NaN,NaN
187,643,10/13/2014 14:49,10/13/2014 15:01,SEA00293,706.313,15th Ave NE & NE 40th St,Eastlake Ave E & E Allison St,UW-04,EL-05,Member,Male,1948.0
188,644,10/13/2014 14:49,10/13/2014 14:54,SEA00405,320.279,12th Ave & NE Campus Pkwy,Eastlake Ave E & E Allison St,UD-04,EL-05,Member,Female,1949.0
189,645,10/13/2014 14:50,10/13/2014 14:56,SEA00369,362.734,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Short-Term Pass Holder,NaN,NaN
190,646,10/13/2014 14:50,10/13/2014 14:56,SEA00390,366.750,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Short-Term Pass Holder,NaN,NaN
191,647,10/13/2014 14:51,10/13/2014 15:09,SEA00461,1084.156,Occidental Park / Occidental Ave S & S Washing...,Dexter Ave N & Aloha St,PS-04,SLU-02,Member,Male,1980.0
192,648,10/13/2014 14:53,10/13/2014 15:10,SEA00241,999.063,Lake Union Park / Valley St & Boren Ave N,7th Ave & Union St,SLU-17,CBD-03,Member,Male,1985.0
193,649,10/13/2014 14:54,10/13/2014 17:59,SEA00193,11144.159,NE 42nd St & University Way NE,NE 42nd St & University Way NE,UD-02,UD-02,Short-Term Pass Holder,NaN,NaN
194,650,10/13/2014 14:56,10/13/2014 15:02,SEA00348,371.074,Occidental Park / Occidental Ave S & S Washing...,Occidental Park / Occidental Ave S & S Washing...,PS-04,PS-04,Short-Term Pass Holder,NaN,NaN
195,651,10/13/2014 14:57,10/13/2014 15:13,SEA00192,1000.400,15th Ave E & E Thomas St,2nd Ave & Spring St,CH-05,CBD-06,Member,Male,1990.0
196,652,10/13/2014 14:58,10/13/2014 15:10,SEA00107,728.841,City Hall / 4th Ave & James St,7th Ave & Union St,CBD-07,CBD-03,Member,Male,1982.0
197,653,10/13/2014 15:01,10/13/2014 15:16,SEA00389,897.557,Children's Hospital / Sandpoint Way NE & 40th ...,Children's Hospital / Sandpoint Way NE & 40th ...,DPD-03,DPD-03,Member,Male,1986.0
198,654,10/13/2014 15:03,10/13/2014 15:11,SEA00344,504.480,2nd Ave & Pine St,Pine St & 9th Ave,CBD-13,SLU-16,Member,Male,1983.0
199,655,10/13/2014 15:03,10/13/2014 15:11,SEA00412,486.016,Fred Hutchinson Cancer Research Center / Fairv...,Fred Hutchinson Cancer Research Center / Fairv...,EL-01,EL-01,Member,Male,1966.0

### Read weather.csv file

In [3]:
weather_df = pd.read_csv('./cycle-share-dataset/weather.csv', error_bad_lines=False)
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

### Read station.csv file

In [4]:
station_df = pd.read_csv('./cycle-share-dataset/station.csv', error_bad_lines=False)
station_df.head(100)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN
10,CD-01,12th Ave & E Yesler Way,47.602103,-122.316923,5/22/2015,16,8/9/2016,0,8/9/2016
11,CH-01,Summit Ave & E Denny Way,47.618633,-122.325249,10/13/2014,16,NaN,16,NaN
12,CH-02,E Harrison St & Broadway Ave E,47.622063,-122.321251,10/13/2014,18,2/24/2015,20,NaN
13,CH-03,Summit Ave E & E Republican St,47.623367,-122.325279,10/13/2014,16,NaN,16,NaN
14,CH-05,15th Ave E & E Thomas St,47.620712,-122.312805,10/13/2014,16,NaN,16,NaN
15,CH-06,12th Ave & E Denny Way,47.618549,-122.317017,10/13/2014,16,NaN,16,NaN
16,CH-07,E Pine St & 16th Ave,47.615330,-122.311752,10/13/2014,18,NaN,18,NaN
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN
18,CH-09,Harvard Ave & E Pine St,47.615517,-122.322083,10/13/2014,16,NaN,16,NaN
19,CH-12,Bellevue Ave & E Pine St,47.615456,-122.326729,10/13/2014,18,NaN,14,NaN
20,CH-15,12th Ave & E Mercer St,47.624142,-122.316811,10/13/2014,16,NaN,16,NaN
21,DPD-01,9th Ave N & Mercer St,47.624298,-122.339617,10/13/2014,18,NaN,18,NaN
22,DPD-03,Children's Hospital / Sandpoint Way NE & 40th ...,47.663509,-122.284119,10/13/2014,30,3/24/2015,24,NaN
23,EL-01,Fred Hutchinson Cancer Research Center / Fairv...,47.627643,-122.332576,10/13/2014,12,3/27/2015,16,NaN
24,EL-03,E Blaine St & Fairview Ave E,47.634831,-122.326634,10/13/2014,18,NaN,18,NaN
25,EL-05,Eastlake Ave E & E Allison St,47.649090,-122.322983,10/13/2014,18,NaN,18,NaN
26,FH-01,Frye Art Museum / Terry Ave & Columbia St,47.607281,-122.324783,10/13/2014,16,3/18/2016,0,3/18/2016
27,FH-04,Seattle University / E Columbia St & 12th Ave,47.609239,-122.316651,10/13/2014,20,NaN,20,NaN
28,ID-04,6th Ave S & S King St,47.598488,-122.326412,10/13/2014,16,NaN,16,NaN
29,PS-04,Occidental Park / Occidental Ave S & S Washing...,47.600757,-122.332946,10/13/2014,18,NaN,18,NaN
30,PS-05,King Street Station Plaza / 2nd Ave Extension ...,47.598994,-122.329684,10/13/2014,18,NaN,18,NaN
31,SLU-01,REI / Yale Ave N & John St,47.619859,-122.330304,10/13/2014,18,2/24/2015,20,NaN
32,SLU-02,Dexter Ave N & Aloha St,47.627735,-122.342232,10/13/2014,18,NaN,18,NaN
33,SLU-04,Republican St & Westlake Ave N,47.623165,-122.338203,10/13/2014,18,NaN,18,NaN
34,SLU-07,PATH / 9th Ave & Westlake Ave,47.618320,-122.338913,10/13/2014,18,NaN,18,NaN
35,SLU-15,Westlake Ave & 6th Ave,47.613628,-122.337341,10/13/2014,12,3/13/2015,20,NaN
36,SLU-16,Pine St & 9th Ave,47.613715,-122.331777,10/13/2014,20,NaN,20,NaN
37,SLU-17,Lake Union Park / Valley St & Boren Ave N,47.626041,-122.335831,10/13/2014,18,2/23/2015,16,NaN
38,SLU-18,Dexter Ave & Denny Way,47.618285,-122.342205,10/13/2014,20,11/2/2015,0,7/2/2016
39,SLU-19,Key Arena / 1st Ave N & Harrison St,47.622277,-122.355230,10/13/2014,12,3/4/2015,16,NaN
40,SLU-20,Terry Ave & Stewart St,47.616260,-122.333815,6/12/2015,20,NaN,20,NaN
41,SLU-21,Mercer St & 9th Ave N,47.624769,-122.339408,9/15/2015,20,NaN,20,NaN
42,UD-01,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,47.666145,-122.301491,10/13/2014,18,NaN,18,NaN
43,UD-02,NE 42nd St & University Way NE,47.658288,-122.313334,10/13/2014,18,NaN,18,NaN
44,UD-04,12th Ave & NE Campus Pkwy,47.656395,-122.315620,10/13/2014,16,NaN,16,NaN
45,UD-07,NE 47th St & 12th Ave NE,47.663143,-122.315086,10/13/2014,16,NaN,16,NaN
46,UW-01,UW McCarty Hall / Whitman Ct,47.660268,-122.304826,10/13/2014,16,10/29/2015,0,10/29/2015
47,UW-02,Burke Museum / E Stevens Way NE & Memorial Way NE,47.659756,-122.310402,10/13/2014,12,2/20/2015,14,NaN
48,UW-04,15th Ave NE & NE 40th St,47.655590,-122.311890,10/13/2014,18,2/20/2015,16,NaN
49,UW-06,UW Engineering Library / E Stevens Way NE & Je...,47.654613,-122.304863,10/13/2014,12,2/20/2015,14,NaN
50,UW-07,UW Intramural Activities Building,47.653713,-122.302162,10/13/2014,20,2/20/2015,14,NaN
51,UW-10,UW Magnuson Health Sciences Center Rotunda / C...,47.650725,-122.311188,10/13/2014,16,NaN,16,NaN
52,WF-01,Pier 69 / Alaskan Way & Clay St,47.614315,-122.354093,10/13/2014,18,NaN,24,NaN
53,WF-04,Seattle Aquarium / Alaskan Way S & Elliott Bay...,47.607702,-122.341650,10/13/2014,18,NaN,18,NaN
54,CH-16,Broadway and E Denny Way,47.618640,-122.320777,3/18/2016,18,NaN,18,NaN
55,SLU-22,Thomas St & 5th Ave N,47.620879,-122.347377,7/3/2016,18,NaN,18,NaN
56,UW-11,NE Pacific St/UW Medical Center,47.649952,-122.306263,10/29/2015,16,NaN,16,NaN
57,WF-03,Pier 66 / Alaskan Way & Bell St,47.611370,-122.348701,8/9/2016,18,NaN,18,NaN

In [5]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df['Month'] = weather_df['Date'].dt.month
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10

### 1.) Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [6]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df['Month'] = weather_df['Date'].dt.month
weather_df.head(1)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.0,Rain,10

In [7]:
avg_precip = pd.DataFrame(weather_df[['Month','Precipitation_In']]).groupby(weather_df.Month).mean()
avg_precip

       Month  Precipitation_In
Month
1          1          0.143548
2          2          0.168421
3          3          0.156935
4          4          0.051333
5          5          0.012419
6          6          0.030500
7          7          0.012097
8          8          0.018226
9          9          0.041000
10        10          0.189000
11        11          0.187833
12        12          0.236290

In [8]:
weather_df.Precipitation_In.mean() / 12

0.00875544267053701

### 2.) What is the average trip duration for a borrowed bicycle?

In [9]:
trip_mins = trip_df['tripduration'].mean() // 60
print(f'Average trip duration was {trip_mins} minutes')

Average trip duration was 19.0 minutes

### 3.) Whatâ€™s the most common age of a bicycle-sharer?

In [10]:
trip_df['age'] = dt.now().year - trip_df['birthyear']
pd.DataFrame(trip_df['age'].mode(), columns=['Most Common Age'])

   Most Common Age
0             31.0

### 4.) Whatâ€™s the average number of bikes at a given bike station?

In [11]:
# station = trip_df.groupby('from_station_name').mean()
# trip_df['bikeid'] = trip_df['bikeid'].groupby(trip_df['bikeid'])

# pd.DataFrame(trip_df['bikeid'], columns=['Average bikes at bike station'])

### 5.) When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [12]:
station_df['modification_date'] = station_df['modification_date'].notnull()
station_df.modification_date.count()

58

In [13]:
modified = station_df[['station_id', 'modification_date', 'install_dockcount', 'current_dockcount']]
filtered = modified.query('modification_date')
filtered[filtered['current_dockcount']>0]

   station_id  modification_date  install_dockcount  current_dockcount
7      CBD-06               True                 20                 18
12      CH-02               True                 18                 20
17      CH-08               True                 28                 26
22     DPD-03               True                 30                 24
23      EL-01               True                 12                 16
31     SLU-01               True                 18                 20
35     SLU-15               True                 12                 20
37     SLU-17               True                 18                 16
39     SLU-19               True                 12                 16
47      UW-02               True                 12                 14
48      UW-04               True                 18                 16
49      UW-06               True                 12                 14
50      UW-07               True                 20                 14

### 6.) What is the highest value current_dockcount?

In [14]:
station_df['current_dockcount'].max()

26

### 7.) What is the average current_dockcount?

In [15]:
station_df['current_dockcount'].mean()

16.517241379310345

### 8.) Which bike station has the highest current_dockcount?

In [49]:
name = station_df.name 
dock_count = station_df.current_dockcount 

if dock_count.max:
    pd.DataFrame(name, dock_count)