# Bike stats

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [4]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

What is the average trip duration for a borrowed bicycle?

In [8]:
df['tripduration'].mean()

1178.2956753399776

What’s the most common age of a bicycle-sharer?

In [10]:
df['birthyear'].value_counts().head(10)

1987.0    18128
1985.0    10665
1981.0     9953
1982.0     9429
1984.0     9113
1988.0     8633
1986.0     8096
1983.0     7832
1990.0     7529
1989.0     6581
Name: birthyear, dtype: int64

What’s the average number of bikes at a given bike station?

In [24]:
station = df.groupby('from_station_name').mean()
bikeid = df.groupby(df['bikeid']).value_counts()
[station,bikeid]

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?