# Vg-stats Dataset

In [1]:
# Global imports
import numpy as np
import pandas as pd
import csv

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Which company is the most common video game publisher?

In [4]:
df['Publisher'].value_counts().head()

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
Name: Publisher, dtype: int64

What’s the most common platform?

In [5]:
df['Platform'].value_counts().head()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
Name: Platform, dtype: int64

What about the most common genre?

In [6]:
df['Genre'].value_counts().head()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: Genre, dtype: int64

What are the top 20 highest grossing games?

In [20]:
name = df['Name'].head(21)
gross = df['Global_Sales'].head(21)
[name , gross]

[0                                       Wii Sports
 1                                Super Mario Bros.
 2                                   Mario Kart Wii
 3                                Wii Sports Resort
 4                         Pokemon Red/Pokemon Blue
 5                                           Tetris
 6                            New Super Mario Bros.
 7                                         Wii Play
 8                        New Super Mario Bros. Wii
 9                                        Duck Hunt
 10                                      Nintendogs
 11                                   Mario Kart DS
 12                     Pokemon Gold/Pokemon Silver
 13                                         Wii Fit
 14                                    Wii Fit Plus
 15                              Kinect Adventures!
 16                              Grand Theft Auto V
 17                   Grand Theft Auto: San Andreas
 18                               Super Mario World
 19    Brain Age: Train Your Brain in Minutes a Day
 20                   Pokemon Diamond/Pokemon Pearl
 Name: Name, dtype: object, 0     82.74
 1     40.24
 2     35.82
 3     33.00
 4     31.37
 5     30.26
 6     30.01
 7     29.02
 8     28.62
 9     28.31
 10    24.76
 11    23.42
 12    23.10
 13    22.72
 14    22.00
 15    21.82
 16    21.40
 17    20.81
 18    20.61
 19    20.22
 20    18.36
 Name: Global_Sales, dtype: float64]

For North American video game sales, what’s the median?

In [8]:
df['NA_Sales'].median()

0.08

 Provide a secondary output showing ‘about’ ten games surrounding the median sales output

For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?